# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# Datasets
datasets/raw/
datasets/generated/
datasets/processed/

*.csv

# Trained models
models/
*.pkl

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store
